{% extends "base.html" %}

{% block heading %}Category{% endblock %}

{% block content %}

<h3 class = 'mb-4'>{{ product_list.0.category }}</h3>
{% if product_list %}
    <div class="container">
        {% for product in product_list%}
            <div class="card d-inline-block mx-1 my-1" style="width: 18rem;">
                <img src="{{ product.image.url }}" style="height: 18rem;" class="card-img-top" alt="Product-image">
                <div class="card-body">
                    <h5>{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    <p class="card-text">Price: {{ product.price }}</p>

                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark text-white-hover" type="submit">Add to Cart</button>
                    </form>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.add-to-cart-form').on('submit', function(event) {
        event.preventDefault();
        var form = $(this);
        var productId = form.data('product-id');
        $.ajax({
            type: 'POST',
            url: '/add-to-cart/' + productId + '/',
            data: {
                'csrfmiddlewaretoken': form.find('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function(response) {
                alert(response.message);
            },
            error: function(response) {
                alert('An error occurred. Please try again.');
            }
        });
    });
});
</script>
{% endblock %}