{% extends 'base.html' %}


{% block title %}Home{% endblock title %}


{% block content %}
    <p class='fs-6 text-bold'>Categories:</p>
    <h3 class = 'mb-4'>Browse By Category</h3>

    {% if category_list %}
    <div class="container">
        {% for category in category_list%}
            <div class="card d-inline-block mx-2" style="width: 18rem;">
                <img src="{{ category.image.url }}" style="height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body fw-bold mt-2">
                    <p class='fs-6 text-bold'>{{ category.category }}</p>
                    <a class="btn btn-outline-dark text-white-hover" href="{% url 'filter' category.category %}">View Products</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
